@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-6">
        <h2><a asp-area="" asp-controller="Home" asp-action="JSON">JSON Example</a></h2>
            <p>
                An example of how JSON deserialziation can be attacked using the popular JSON.NET library
                if certain features of the deserializer are turned on.
            </p>
    </div>
</div>
